<form action="/customer/change-password" method="POST">
    <div class="form-group">
        <label for="current-password">Current Password *</label>
        <input type="password" class="form-control" id="current-password" name="CurrentPassword" required>
    </div><!-- End .form-group -->

    <div class="form-group">
        <label for="new-password">New Password *</label>
        <input type="password" class="form-control" id="new-password" name="NewPassword" required>
    </div><!-- End .form-group -->

    <div class="form-group">
        <label for="retype-password">Retype New Password *</label>
        <input type="password" class="form-control" id="retype-password" required>
    </div><!-- End .form-group -->

    <div class="form-footer">
        <button type="submit" class="btn btn-outline-primary-2">
            <span>Change Password</span>
            <i class="icon-long-arrow-right"></i>
        </button>
    </div><!-- End .form-footer -->
</form>