{{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stockAddModal">Open modal for @mdo</button> --}}

<div class="modal fade" id="stockAddModal" tabindex="-1" role="dialog" aria-labelledby="stockAddModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stockAddModalLabel">New Stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/stock" method="post">
        <div class="modal-body">
            <div class="form-group">
              <label for="stock-name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" id="stock-name" name="stock_name">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>