<main class="main">
	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
		<div class="container">
			<h1 class="page-title">About <span>IQON</span></h1>
		</div><!-- End .container -->
	</div><!-- End .page-header -->

	<div class="page-content">
		<div class="video-banner video-banner-poster text-center">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-6 mb-3 mb-md-0">
						<h3 class="video-banner-title h3"><span class="text-primary"></span> About IQON</h3>
						<!-- End .video-banner-title -->
						<p>iqon lifestyle store offers exclusive and trendy merchandise.
							Where you can take your lifestyle to the limit and live</p>
					</div><!-- End .col-md-6 -->

					<div class="col-md-6">

						<div class="video-poster mt-4">
							{{!-- <img src="assets/images/video/poster-1.jpg" alt="poster"> --}}
							<iframe style="width: 100%"
								src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fiqon2020%2Fvideos%2F737065626900763%2F&show_text=false&width=560"
								width="560" height="314" style="border:none;overflow:hidden" scrolling="no"
								frameborder="0" allowfullscreen="true"
								allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
								allowFullScreen="true"></iframe>
							<div class="video-poster-content">
								{{!-- <a href="https://www.youtube.com/watch?v=vBPgmASQ1A0"
									class="btn-video btn-iframe"><i class="icon-play"></i></a> --}}

							</div><!-- End .video-poster-content -->
						</div><!-- End .video-poster -->
					</div><!-- End .col-md-6 -->
				</div><!-- End .row -->


			</div><!-- End .container -->
		</div><!-- End .video-banner -->
		<div class="container" style="text-align: justify;">
			<h3 class="h3"><span class="text-primary"></span> Privacy Policy </h3>
			<p>
				At Iqonbd, accessible from <u>https://iqonbd.com/</u>, one of our main priorities is the privacy
				of our visitors. This Privacy Policy document contains types of information that is collected
				and recorded by sailor.clothing and how we use it.

				If you have additional questions or require more information about our Privacy Policy, do not
				hesitate to contact us.

				This Privacy Policy applies only to our online activities and is valid for visitors to our
				website with regards to the information that they shared and/or collect in Iqonbd. This policy
				is not applicable to any information collected offline or via channels other than this website.

				Consent
			</p>
			<br>
			<p>

				By using our website, you hereby consent to our Privacy Policy and agree to its terms.
				<br>
			<div class="row">
				<div class="col-md-5 col-sm-12 mr-auto">
					<b>Information we collect</b>
					<br>

					The personal information that you are asked to provide, and the reasons why you are asked to
					provide it, will be made clear to you at the point we ask you to provide your personal
					information.

					If you contact us directly, we may receive additional information about you such as your name,
					email address, phone number, the contents of the message and/or attachments you may send us, and
					any other information you may choose to provide.

					When you register for an Account, we may ask for your contact information, including items such
					as name, company name, address, email address, and telephone number.

				</div>
				<div class="col-md-5 col-sm-12 ml-auto">
					<b>How we use your information</b>
					<br>
					We use the information we collect in various ways, including to:

					<ul style="list-style: auto; margin: 1em">
						<li>Provide, operate, and maintain our website</li>
						<li>Improve, personalize, and expand our website</li>
						<li>Understand and analyze how you use our webste</li>
						<li>Develop new products, services, features, and functionality</li>
						<li>Communicate with you, either directly or through one of our partners,including for
							customer service, to provide you with updates and otherinformation relating to the
							website, and for marketing and promotional purposes</li>
						<li>Send you emails</li>
						<li>Find and prevent fraud </li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container" style="text-align: justify;">
			<h3 class="h3"><span class="text-primary"></span> SERVICE INFORMATION </h3>
			<div class="row">
				<div class="col-md-5 col-sm-12 mr-auto">
					<b>Return and Exchange</b>
					<br>

					In order to buy the product for delivery outside Dhaka, you have to pay the full amount of the
					product through Bkash first.

					We always want to achieve our customer's ultimate satisfaction. And following this, we did our best
					to make a return policy with extended service, which is suitable for our valuable customer.
				</div>
				<div class="col-md-5 col-sm-12 ml-auto">
					<b>How we use your information</b>
					<br>
					Following conditions will qualify under Return & Exchange Policy

					<ol style="list-style: auto; margin: 1em">
						<li> If any of our Product failed to meet the quality parameter, such as -</li>
						<ul style="list-style: disc; margin: 1em">
							<li>Physically Damaged Product </li>

							<li>Major Defects </li>

							<li>Size or, fitting issue </li>
						</ul>
						

						<li> If Iqon delivers the wrong items to the customer</li>

						<li> Product Lost during shipment</li>

						<li> If any technical error occurred - Wrong Order placement, Money Deduction.</li>
					</ol>
				</div>
			</div>
		</div>
	</div><!-- End .page-content -->
</main><!-- End .main -->